<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <title>스타벅스 빌리지</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
</head>
<body>
    <div class="title">
        <h1> Starbucks Village</h1>
        <button type="button" class="btn btn-outline-success">Sign up</button>
        <button type="button" class="btn btn-outline-success">Log in</button>
    </div>
    <!-- Example split danger button -->
    <div class="coffee-category">
        <label for="prod1">Beverage</label>
        <select id="prod1" onchange="sortCoffee(this.value)">
            <option value="모두보기" selected>모두보기</option>
            <option value="콜드 브루">콜드 브루</option>
            <option value="브루드">브루드</option>
            <option value="에스프레소">에스프레소</option>
            <option value="프라푸치노">프라푸치노</option>
            <option value="블랜디드">블랜디드</option>
            <option value="피치오">피치오</option>
            <option value="티">티</option>
            <option value="기타">기타</option>
            <option value="주스">주스(병음료)</option>
        </select>
    </div>

    <div class="wrapper">
        {% for review in reviews %}
            {% if review.category == "주스(병음료)" %}
                <div id="review-card {{ review.reviewId }}" class="card 주스" style="width: 18rem;">
            {% else %}
                <div id="review-card {{ review.reviewId }}" class="card {{ review.category }}" style="width: 18rem;">
            {% endif %}
        <img src="{{ review.image }}"
             class="card-img-top" alt="...">
        <div class="card-body">
            <p><h5 class="coffee-Name">{{ review.coffeeName }}</h5>
        </div>
        <div class="card-content">
            <p>{{ review.category }}</p>
            <p>{{ review.review }}</p>
        </div>
        <div class="list-group list-group-flush">
            {% if review.starRating == '1' %}
                <img src="../static/star1.svg"/>
            {% elif review.starRating == '2' %}
                <img src="../static/star2.svg"/>
            {% elif review.starRating == '3' %}
                <img src="../static/star3.svg"/>
            {% elif review.starRating == '4' %}
                <img src="../static/star4.svg"/>
            {% elif review.starRating == '5' %}
                <img src="../static/star5.svg"/>
            {% endif %}
        </div>
        <div class="card-body">
            {% if review.heart_by_me == True %}
            {% set class_heart = "fa-heart" %}
            {% elif review.heart_by_me == False %}
            {% set class_heart = "fa-heart-o" %}
            {% endif %}
            <a class="level-item is-sparta" aria-label="heart" onclick="toggle_like('{{ review.reviewId }}', 'heart')">
                <span class="icon is-small">
                    <i id="like-button" class="fa {{ class_heart }}" aria-hidden="true"></i>
                </span>&nbsp;
                <span class="like-num">
                    {{ review.count_heart }}
                </span>
            </a>
{#            <a href="#" class="card-link" onclick="likeReview('{{ review.review }}')">Like ❤ +{{ review.Like }}</a>#}
            <button type="button" class="btn btn-primary" onclick="deleteReview('{{ review.review }}')">
                <i class="fas fa-ban"></i>
            </button>
        </div>
        </div>
    {% endfor %}
    </div>
</body>
</html>