<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>스타벅스빌리지 | 마이페이지</title>
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/mypage.css">
    <script>
        function logout(){
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃 되었습니다!')
            window.location.href='/login'
        }
    </script>
</head>
<body>
    <header>
        <h1><a href="/">스타벅스 빌리지</a></h1>
        <div class="log-out"><a onclick="logout()">로그아웃</a></div>
    </header>
    <main>
        <div class="nick_hello">
            <p><span>{{nickname}}</span>님 안녕하세요!</p>
        </div>
        <div class="my_review">
            <h2>내가 작성한 리뷰</h2>
            <div class="columns is-3">
                <div class="column c1">
                    {% for row in rows %}
                        {% set image = row.image %}
                        {% set name = row.coffeeName %}
                        {% set category = row.category %}
                        {% set star = row.starRating %}
                        {% set review = row.review %}
                        {% set reviewNum = row.reviewNum %}
                        {% set like = row.like %}
                        {% if loop.index0 % 4 == 1 %}
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image image is-1by1">
                                        <img src="{{ image }}" alt="{{ name }}">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">{{ name }}</p>
                                            <p class="subtitle is-6">{{ category }}</p>
                                            <figure class="image is-3by1 star">
                                                <img src="../static/img/star{{ star }}.svg" alt="{{ star }}점">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="content">
                                        {{ review }}
                                    </div>
                                    <div class="like">
                                        <input id="n{{ reviewNum }}" type="checkbox">
                                        <label for="n{{ reviewNum }}" class="unchecked"></label>
                                        <label for="n{{ reviewNum }}">{{ like }}</label>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="column c2">
                    {% for row in rows %}
                        {% set image = row.image %}
                        {% set name = row.coffeeName %}
                        {% set category = row.category %}
                        {% set star = row.starRating %}
                        {% set review = row.review %}
                        {% set reviewNum = row.reviewNum %}
                        {% set like = row.like %}
                        {% if loop.index0 % 4 == 2 %}
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image image is-1by1">
                                        <img src="{{ image }}" alt="{{ name }}">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">{{ name }}</p>
                                            <p class="subtitle is-6">{{ category }}</p>
                                            <figure class="image is-3by1 star">
                                                <img src="../static/img/star{{ star }}.svg" alt="{{ star }}점">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="content">
                                        {{ review }}
                                    </div>
                                    <div class="like">
                                        <input id="n{{ reviewNum }}" type="checkbox">
                                        <label for="n{{ reviewNum }}" class="unchecked"></label>
                                        <label for="n{{ reviewNum }}">{{ like }}</label>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="column c3">
                    {% for row in rows %}
                        {% set image = row.image %}
                        {% set name = row.coffeeName %}
                        {% set category = row.category %}
                        {% set star = row.starRating %}
                        {% set review = row.review %}
                        {% set reviewNum = row.reviewNum %}
                        {% set like = row.like %}
                        {% if loop.index0 % 4 == 3 %}
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image image is-1by1">
                                        <img src="{{ image }}" alt="{{ name }}">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">{{ name }}</p>
                                            <p class="subtitle is-6">{{ category }}</p>
                                            <figure class="image is-3by1 star">
                                                <img src="../static/img/star{{ star }}.svg" alt="{{ star }}점">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="content">
                                        {{ review }}
                                    </div>
                                    <div class="like">
                                        <input id="n{{ reviewNum }}" type="checkbox">
                                        <label for="n{{ reviewNum }}" class="unchecked"></label>
                                        <label for="n{{ reviewNum }}">{{ like }}</label>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="column c4">
                    {% for row in rows %}
                        {% set image = row.image %}
                        {% set name = row.coffeeName %}
                        {% set category = row.category %}
                        {% set star = row.starRating %}
                        {% set review = row.review %}
                        {% set reviewNum = row.reviewNum %}
                        {% set like = row.like %}
                        {% if loop.index0 % 4 == 0 %}
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image image is-1by1">
                                        <img src="{{ image }}" alt="{{ name }}">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">{{ name }}</p>
                                            <p class="subtitle is-6">{{ category }}</p>
                                            <figure class="image is-3by1 star">
                                                <img src="../static/img/star{{ star }}.svg" alt="{{ star }}점">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="content">
                                        {{ review }}
                                    </div>
                                    <div class="like">
                                        <input id="n{{ reviewNum }}" type="checkbox">
                                        <label for="n{{ reviewNum }}" class="unchecked"></label>
                                        <label for="n{{ reviewNum }}">{{ like }}</label>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
</body>
</html>